// Left Nav
$left-nav-width: 175px;

$left-nav-button-font-size: 13px;
$left-nav-button-margin-left: 16px;

// Search filters
$search-filters-title-font-size: 16px;
$search-filters-small-font-size: 11px;
$search-filters-input-font-size: 14px;
